<template name="groups">

	<div id='groups_container'>		
	

		{{>groupsList}}



		{{#if currentUser}}
			{{>newGroup}}
		{{/if}}


	</div>



</template>

<template name = "groupsList">
	<div id='groups_list_container'>
		<h2>Groups list</h2>
		<div id='groups_list' class='list'> 
			{{#each group}}
				<a id = {{_id}} class='list_item' href='/groups/{{title}}'>
						
						<div>					
							<img src={{logo}} class='logo'>
						</div>
						
						<div>
							<span class = 'title'>
								{{title}}
							</span>

							{{#if member}}
							
								{{#if author}}
								{{else}}
									<span class='member'>(You is member)</span>
								{{/if}}
							
							{{/if}}

							<br>
							<span class = 'creator'>
						 		{{#if author}}
									creator: you
								{{else}}
									creator: {{founder.name}}
								{{/if}}	
							</span>

						</div>
					

					<span>
						{{#if author}}
							<a class='button edit_group'>&#9998;</a>  
							<a class='button del_group'>&#10007;</a>	
						{{/if}}
					</span>
				</a>


			{{/each}}
		</div>
	</div>

</template>



<template name='newGroup'> 
	<div id='addGroup_container'>
		<a id='show_add_group_form' class=' button_popup_window show'> Add group </a>
		<div class = 'window_popup'>
			<form id='addGroup_form'>
		    	
		    	<table>
		    		<tr>
		    			<td>
		    				<input id="title" type="text" class='required' placeholder="title"/>
				  		</td>
				  	</tr>

		        	<tr>
		    			<td>
		        			<input id="logo" type="url" accept="image/*" placeholder="logo url"/>
		      			</td>
				  	</tr>

				</table>
				
				<span id = 'add_button'>
					<a class='button' id = 'add_group'>ADD</a>
				</span>

				<span id = 'edit_buttons'>
					<a class = 'button' id = 'edit_group'>SAVE</a>
					<a class = 'button' id='cancel'>CANCEL</a>
				</span>

				<span id='edit_span' class = 'edit_span'></span>

		  	</form>
		</div>  	
	</div>
</template>



