<template name="groups">
	<div id='groups_container'>		
		{{>groupsList}}

		{{#if currentUser}}
			{{>newGroup}}
		{{/if}}
	</div>
</template>

<template name = "groupsList">
		<h2>Groups list</h2>
		<div id='groups_list' class='list'> 
			{{#if groups.length }}
				{{#each groups.list}}
					<a id = {{_id}} class='list_item link' href='/groups/{{title}}?navigateItem=members'>
							
							<div>					
								<img src={{logo}} class='logo'>
							</div>
							&nbsp;
							<div>
								<span class='uppercase_text'>
									{{title}}
								</span>

								{{#if member}}
								
									{{#if author}}
									{{else}}
										<span class='member'>(You is member)</span>
									{{/if}}
								
								{{/if}}

								<br>
								<span class = 'creator'>
									created by <strong>{{founder.name}}</strong>
								</span>

							</div>
						

						<span>
							{{#if author}}
								<a class='button2 pencil link edit_group'>&#9998;</a>  
								<a class='del_group button2 link'>&#10007;</a>	
							{{/if}}
						</span>
					</a>


				{{/each}}
			{{else}}
				<span class='empty_list'>Groups list is empty</span>
			{{/if}}
		
	</div>

	

</template>



<template name='newGroup'> 
	<div id='addGroup_container'>
		<a id='show_add_group_form' class=' button_popup_window new_button show'> Add group </a>
		<div class = 'window_popup'>
			<form id='addGroup_form'>
		    	
		    	<table>
		    		<tr>
		    			<td>
		    				<input id="title" type="text" class='required' placeholder="title"/>
				  		</td>
				  	</tr><tr>
		    			<td>
		        			<input id="logo" accept="image/*" placeholder="logo url"/>
		      			</td>
				  	</tr>
				  	<tr>
				  		<td>
				  			<span id = 'add_button'>
								<a class='new_button submit' id = 'add_group'>Add</a>
							</span>

							<span id = 'edit_buttons'>
								<a class = 'new_button' id = 'edit_group'>Save</a>
								<a class = 'new_button' id='cancel'>Cancel</a>
							</span>
				  		</td>
				  	</tr>

				</table>
				
				

				<span id='edit_span' class = 'edit_span'></span>

		  	</form>
		</div>  	
	</div>
</template>



