<!-- Email template for Pizza Day creator -->
<template name="email">
  <div >
    <h1>Pizza Day</h1>

    <h2>Your order confirmed!</h2>
    
    <h4><strong>Your order list:</strong></h4>
    
    <table>
      <tr>
        <td style='padding: 8px;'>title</td>
        <td style='padding: 8px;'>price</td>
        <td style='padding: 8px;'>quantity</td>
      </tr>
  	  {{#each user.order}}
  	    <tr>
  	      <td style='padding: 8px;'>{{title}}</td>
  	      <td style='padding: 8px;'>{{price}}$</td>
  	  	  <td style='padding: 8px;'>{{quantity}}</td>
  	    </tr>
  	  {{/each}}
    </table>
    
    <p>Your total: {{user.total}}$</p>
    <p>Your discount: {{user.discount}}$</p>
    <p>Payment with discount: {{user.payment}}$</p>
    
    {{#if creator}}
      <h4><strong>Group order list:</strong></h4>
    
      <table>
        <tr>
          <td style='padding: 8px;'>title</td>
          <td style='padding: 8px;'>price</td>
          <td style='padding: 8px;'>quantity</td>
        </tr>
        {{#each groupOrder}}
          <tr>
              <td style='padding: 8px;'>{{title}}</td>
              <td style='padding: 8px;'>{{price}}$</td>
              <td style='padding: 8px;'>{{quantity}}</td>
          </tr>
        {{/each}}
      </table>

      <p style='padding: 0px;'>Group total: {{pizzaDay.total}}$</p>
      <p style='padding: 0px;'>Group discount: {{pizzaDay.discount}}$</p>
      <p style='padding: 0px;'>Payment with discount: {{groupPayment}}$</p>

    {{/if}}
  
    <h2>Enjoy your meal!</h2>
  </div>
</template>