<template name = 'cabinet'>
	

	<a class='menu_bar_item popup_menu' id='cabinet'>
		
		{{#if currentUser}}
			{{currentUser.profile.name}}	
		{{else}}
			Sign in
		{{/if}}
	</a>

	<div id='cabinet_popup' class='popup'> 

		{{#if currentUser}}

			<div id = 'cabinet_menu'>
				
				<a id='change_pas' class = 'notification_item'>Change password</a>
				<a id='logout' class='notification_item'>Log out</a>

			</div>

			<form id='change_pas_form'>
				
				<table>
					<tr>
						<td>
							<input id='old_pas' class='required' placeholder='old password'>	
						</td>
					</tr>
					<tr>
						<td>
							<input id='new_pas' class='required' placeholder='new password'>	
						</td>
					</tr>
					<tr>
						<td>
							<input id='conf_pas' class='required' placeholder='confirm password'>	
						</td>
					</tr>
				</table>

				<input type='submit' value='sent email'>


				<div id = 'cabinet_menu'>
				
					<a id='cancel' class = 'notification_item'>Cancel</a>
				</div>
			</form>



		{{else}}

			<button id='login_google'>Sign in with Google</button>
			<br>
			<span style='font-size:15px'>or</span>




			<form id='login_form'>
				<table>
					<tr>
						<td>
							<input id='login_email' class='required' placeholder='email'>
							
						</td>
					</tr>
					<tr>
						<td>
							<input id='login_pas' type='password' class='required' placeholder='password'>
							
						</td>
					</tr>
				</table>

				<input type='submit' value='Sign in'>


				<div id = 'cabinet_menu'>
				
					<a id='show_reg_form' class = 'notification_item'>Create new user </a>
				
					<a id='forgot_pas' class = 'notification_item'>Forgot password </a>

				</div>
			</form>




			<form id='reg_form'>
				<table>
					
					<tr>
						<td>
							<input id='reg_name' class = 'required' placeholder='username'>
							
						</td>
					</tr>

					<tr>
						<td>
							<input id='reg_email' class = 'required'  placeholder='email'>
							
						</td>
					</tr>

					<tr>
						<td>
							<input id='reg_pas' type='password'  class = 'required'  placeholder='password'>
							
						</td>
					</tr>

					<tr>
						<td>
							<input id='confirm_pas' type='password' class = 'required'  placeholder = 'password again'>
							
						</td>
					</tr>
				</table>

				<input type='submit' value='Create user'>

				<div id = 'cabinet_menu'>
				
					<a id='show_login_form' class = 'notification_item'>Sign in</a>
				</div>
			</form>

<!-- forgot password////////////////////////////////////////////////// -->
			<form id = 'forgot_pas_form'>
				<table>
					<tr>
						<td>
							<input id='forgot_email' class='required' placeholder='email'>
						</td>
					</tr>
				</table>

				<input type='submit' value='sent'>


				<div id = 'cabinet_menu'>
				
					<a id='cancel' class = 'notification_item'>Cancel</a>
				
				</div>

			</form>

	
		{{/if}}
	</div>

</template>